diy_9.1/target/META-INF/mule-src/gs_diy_4-1_accountsapi-implementation/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="72c49c61-19a3-4d0c-a05a-70f03e3199bd" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	
</db:config>
	<flow name="get-accountsbyid-db" doc:id="88d3c13f-8679-48d4-84c0-684b6c53ae9f" >
		<db:select doc:name="Select by ID" doc:id="1c64a29f-862e-42d9-95d0-06433e47af0d" config-ref="Database_Config" >
			<db:sql ><![CDATA[select * from flights_customers WHERE accountID = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
id: attributes.uriParams.ID
	}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="56031e51-3e4c-4eec-a599-7a7a903a9284" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID as Number default 0,
	name: payload01.name default "",
	"type": payload01.accountType default "",
	address: ((((payload01.street default "") ++ "," ++ (payload01.city default "")) ++ "," ++ (payload01.state default "")) ++ "," ++ (payload01.postal default "")) ++ "," ++ (payload01.country default ""),
	air_miles: payload01.miles default 0,
	created_at: payload01.creationDate as String default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getAccounts" doc:id="4138519b-98fc-4762-990d-b97094332557" >
		<set-variable value="#[attributes.queryParams.account_name]" doc:name="accName" doc:id="fb01007e-0fe7-49d1-b81a-1dfad84ad723" variableName="accName"/>
		<set-variable value="#[attributes.queryParams.account_type]" doc:name="accType" doc:id="6b888d0b-c636-49d4-a64e-b3eb74982898" variableName="accType"/>
		<choice doc:name="Choice" doc:id="e940ccc3-e5b9-4a9b-b3e4-212d98bd264b" >
			<when expression="#[vars.accName !=null and vars.accType == null]" >
				<db:select doc:name="flights_customers_by_name" doc:id="246dbffa-9787-4307-ae19-1d0440c7a528" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM flights_customers where Name = :accName]]></db:sql>
			<db:input-parameters><![CDATA[#[{ accName :  vars.accName}]]]></db:input-parameters>
		</db:select>
			</when>
			<when expression="#[vars.accName == null and vars.accType != null]" >
				<db:select doc:name="flights_customers_by_type" doc:id="b7e765b7-54b2-4823-99ce-3912b0f462e9" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM flights_customers where accountType = :accType]]></db:sql>
			<db:input-parameters><![CDATA[#[{ accType :  vars.accType}]]]></db:input-parameters>
		</db:select>
			</when>
			<when expression="#[vars.accName != null and vars.accType != null]">
				<db:select doc:name="flights_customers" doc:id="fd1950e0-e2c3-4a9b-a505-f24d9f738b7e" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM flights_customers where Name = :accName and accountType = :accType]]></db:sql>
			<db:input-parameters><![CDATA[#[{ accName :  vars.accName , accType : vars.accType}]]]></db:input-parameters>
		</db:select>
			</when>
			<otherwise >
				<db:select doc:id="91aaa51c-4456-45cc-a761-69831c0bccf3" doc:name="flights_customers" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM flights_customers]]></db:sql>
		</db:select>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="ba296c5c-11c8-4fb8-9426-490e188b627e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

</mule>
